/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* General Classes */
.container {
    width: 500px;
    margin: 0 auto;
}
ul {
    list-style: none;
}

.flex {
    display: flex;
}

.button {
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 600;
}

.button-blue {
    background-color: rgb(0, 132, 253);
    color: white;
}

.button-purple {
    background-color: rgb(151, 146, 228);
    color: white;
}

/* Header */
header {
    background-color: rgb(0, 132, 253);
    color: white;
}

header .wrapper {
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

header .wrapper .logo img {
    height: 100%;
}

header .wrapper .desktop-nav {
    display: none;
}

header .wrapper .desktop-nav ul {
    height: 100%;
    align-items: center;
}

header .wrapper .desktop-nav ul li {
    margin-right: 1rem;
}

header .wrapper .mobile-nav {
    height: 100%;
    align-items: center;
}

/* Hero */
#hero {
    margin-top: 3rem;
}

#hero .main-card .left-column,
#hero .main-card .right-column {
    width: 100%;
}

#hero .card {
    background-color: rgb(181, 221, 255);
    border-radius: 25px;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

#hero .card i {
    font-size: 80px;
}

#hero .card h1 {
    font-size: 30px;
}

#hero .card p {
    color: rgb(86, 105, 121);
    font-weight: 500;
}

#hero .card i,
#hero .card h1 {
    color: rgb(0, 132, 253);
    padding-bottom: 1rem;
}

#hero .main-card {
    flex-direction: column;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#hero .main-card .left-column p {
    margin-bottom: 1rem;
}

#hero .main-card .left-column i {
    font-size: 20px;
    color: white;
    padding: 0;
    vertical-align: text-top;
}

#hero .main-card .left-column button {
    font-size: 20px;
    padding: 0.75rem 3.5rem;
}

#hero .main-card .right-column img {
    width: 100%;
    position: relative;
    top: 7px;
}

/* Planning */
#planning {
    background-color: rgb(151, 146, 228);
}

#planning .wrapper {
    flex-direction: column;
    padding: 2rem 0;
}

#planning .wrapper img {
    width: 100%;
}

#planning .wrapper .left-column {
    color: white;
    margin-bottom: 2rem;
}

#planning .wrapper .left-column h1 {
    font-size: 40px;
    padding: 2rem 0;
}

#planning .wrapper .right-column {
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
}

#planning .wrapper .right-column h1 {
    padding: 2rem 0;
}

#planning .wrapper .right-column p {
    padding-bottom: 2rem;
}

#planning .wrapper .right-column .icon-wrapper {
    background-color: rgb(151, 146, 228);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

#planning .wrapper .left-column,
#planning .wrapper .right-column {
    width: 100%;
}

/* Testimonials */
#testimonials {
    margin-top: 3rem;
}

#testimonials .wrapper > p:first-of-type {
    padding-bottom: 1rem;
    text-transform: uppercase;
}

#testimonials .wrapper h1 {
    font-size: 30px;
    padding-bottom: 1rem;
    color: rgb(151, 146, 228);
}

#testimonials .wrapper > p:last-of-type {
    margin-bottom: 1rem;
    font-size: 20px;
}

#testimonials .wrapper > p,
#testimonials .wrapper h1 {
    text-align: center;
}

#testimonials .wrapper .card {
    background-color: rgb(151, 146, 228);
    width: 100%;
    border-radius: 25px;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

#testimonials .wrapper .card .left-column {
    margin-bottom: 1rem;
    text-align: center;
}

#testimonials .wrapper .card .left-column .img-wrapper {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: inline-block;
}

#testimonials .wrapper .card .right-column {
    color: white;
    text-align: center;
}

#testimonials .wrapper .card .right-column p:first-of-type {
    font-size: 20px;
    padding-bottom: 1rem;
}

#testimonials .wrapper .card .right-column p:last-of-type {
    font-size: 25px;
    text-transform: uppercase;
}

#testimonials .wrapper .card .left-column,
#testimonials .wrapper .card .right-column {
    width: 100%;
}

/* Card Image */
#testimonials .wrapper .card .left-column .img-wrapper.card1 {
    background-image: url("../img/testimonial1.jpg");
}

#testimonials .wrapper .card .left-column .img-wrapper.card2 {
    background-image: url("../img/testimonial2.jpg");
}

#testimonials .wrapper .card .left-column .img-wrapper.card3 {
    background-image: url("../img/testimonial3.jpg");
}

/* Benefits */
#benefits {
    margin-top: 3rem;
    background-color: rgb(151, 146, 228);
}

#benefits h1 {
    padding: 2rem 0;
    font-size: 50px;
    text-align: center;
    color: white;
}

#benefits .card-wrapper {
    flex-direction: column;
}

#benefits .card-wrapper .card {
    background-color: white;
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 2rem;
}

#benefits .card-wrapper .card p:first-of-type {
    font-size: 50px;
    padding-bottom: 1rem;
}

#benefits .card-wrapper .card h2 {
    font-size: 25px;
    padding-bottom: 1rem;
}

#benefits .card-wrapper .card p:last-of-type {
    padding-bottom: 2rem;
    color: grey;
}

#benefits .card-wrapper .card button {
    font-size: 20px;
    padding: 0.75rem 3.5rem;
}

#benefits .card-wrapper .card p:first-of-type,
#benefits .card-wrapper .card h2 {
    color: rgb(151, 146, 228);
    font-weight: 600;
}




