/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* General Classes */
.container {
    width: 100%;
    padding: 0 1rem;
}
ul {
    list-style: none;
}

.flex {
    display: flex;
}

.button {
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 600;
}

.button-blue {
    background-color: rgb(0, 132, 253);
    color: white;
}

.button-purple {
    background-color: rgb(151, 146, 228);
    color: white;
}

.underline {
    text-decoration: underline;
}

.purple-link {
    text-decoration: underline;
    color: rgb(151, 146, 228);
}

/* Header */
header {
    background-color: rgb(0, 132, 253);
    color: white;
}

header .wrapper {
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

header .wrapper .logo img {
    height: 100%;
    vertical-align: middle;
}

header .wrapper .desktop-nav {
    display: none;
}

header .wrapper .desktop-nav ul {
    height: 100%;
    align-items: center;
}

header .wrapper .desktop-nav ul li {
    margin-right: 1rem;
}

header .wrapper .mobile-nav {
    height: 100%;
    align-items: center;
}

/* Hero */
#hero {
    margin-top: 3rem;
}

#hero .wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

#hero .main-card .left-column,
#hero .main-card .right-column {
    width: 100%;
}

#hero .card {
    background-color: rgb(181, 221, 255);
    border-radius: 25px;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

#hero .card i {
    font-size: 80px;
}

#hero .card h1 {
    font-size: 30px;
}

#hero .card p {
    color: rgb(86, 105, 121);
    font-weight: 500;
}

#hero .card i,
#hero .card h1 {
    color: rgb(0, 132, 253);
    padding-bottom: 1rem;
}

#hero .main-card {
    flex-direction: column;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#hero .main-card .left-column p {
    margin-bottom: 1rem;
}

#hero .main-card .left-column i {
    font-size: 20px;
    color: white;
    padding: 0;
    vertical-align: text-top;
}

#hero .main-card .left-column button {
    font-size: 20px;
    padding: 0.75rem 3.5rem;
}

#hero .main-card .right-column img {
    width: 100%;
    position: relative;
    top: 7px;
}

/* Planning */
#planning {
    background-color: rgb(151, 146, 228);
}

#planning .wrapper {
    flex-direction: column;
    padding: 2rem 2rem;
}

#planning .wrapper .left-column {
    color: white;
    margin-bottom: 2rem;
}

#planning .wrapper .left-column h1 {
    font-size: 40px;
    padding: 2rem 0;
}

#planning .wrapper .right-column .wrapper {
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
}

#planning .wrapper .right-column .wrapper h1 {
    padding: 2rem 0;
}

#planning .wrapper .right-column .wrapper p {
    padding-bottom: 2rem;
}

#planning .wrapper .right-column .icon-wrapper {
    background-color: rgb(151, 146, 228);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

#planning .wrapper .left-column,
#planning .wrapper .right-column {
    width: 100%;
}

#planning .wrapper .left-column img,
#planning .wrapper .right-column img {
    width: 100%;
}

/* Testimonials */
#testimonials {
    margin-top: 3rem;
}

#testimonials .wrapper > p:first-of-type {
    padding-bottom: 1rem;
    text-transform: uppercase;
}

#testimonials .wrapper h1 {
    font-size: 30px;
    padding-bottom: 1rem;
    color: rgb(151, 146, 228);
}

#testimonials .wrapper > p:last-of-type {
    margin-bottom: 1rem;
    font-size: 20px;
}

#testimonials .wrapper > p,
#testimonials .wrapper h1 {
    text-align: center;
}

#testimonials .wrapper .card {
    background-color: rgb(151, 146, 228);
    width: 100%;
    border-radius: 25px;
    padding: 1rem;
    flex-direction: column;
    margin-bottom: 2rem;
}

#testimonials .wrapper .card .left-column {
    margin-bottom: 1rem;
    text-align: center;
}

#testimonials .wrapper .card .left-column .img-wrapper {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: inline-block;
}

#testimonials .wrapper .card .right-column {
    color: white;
    text-align: center;
    flex-direction: column;
}

#testimonials .wrapper .card .right-column p:first-of-type {
    font-size: 20px;
    padding-bottom: 1rem;
}

#testimonials .wrapper .card .right-column p:last-of-type {
    font-size: 25px;
    text-transform: uppercase;
}

#testimonials .wrapper .card .left-column,
#testimonials .wrapper .card .right-column {
    width: 100%;
}

/* Card Image */
#testimonials .wrapper .card .left-column .img-wrapper.card1 {
    background-image: url("../img/testimonial1.jpg");
}

#testimonials .wrapper .card .left-column .img-wrapper.card2 {
    background-image: url("../img/testimonial2.jpg");
}

#testimonials .wrapper .card .left-column .img-wrapper.card3 {
    background-image: url("../img/testimonial3.jpg");
}

/* Benefits */
#benefits {
    margin-top: 3rem;
    background-color: rgb(151, 146, 228);
    padding-bottom: 2rem;
}

#benefits h1 {
    padding: 2rem 0;
    font-size: 50px;
    text-align: center;
    color: white;
}

#benefits .card-wrapper {
    flex-direction: column;
}

#benefits .card-wrapper .card {
    background-color: white;
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 2rem;
}

#benefits .card-wrapper .card p:first-of-type {
    font-size: 50px;
    padding-bottom: 1rem;
}

#benefits .card-wrapper .card h2 {
    font-size: 25px;
    padding-bottom: 1rem;
}

#benefits .card-wrapper .card p:last-of-type {
    padding-bottom: 2rem;
    color: grey;
}

#benefits .card-wrapper .card button {
    font-size: 20px;
    padding: 0.75rem 3.5rem;
}

#benefits .card-wrapper .card p:first-of-type,
#benefits .card-wrapper .card h2 {
    color: rgb(151, 146, 228);
    font-weight: 600;
}

/* About Us */
#about-us {
    margin: 3rem 0;
}

#about-us .wrapper {
    flex-direction: column;
}

#about-us .wrapper .left-column {
    margin-bottom: 2rem;
}

#about-us .wrapper .left-column h1 {
    font-size: 40px;
    color: rgb(151, 146, 228);
    padding-bottom: 1rem;
}

#about-us .wrapper .left-column p {
    font-size: 20px;
}

#about-us .wrapper .right-column .img-wrapper {
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: inline-block;
    position: relative;
}

#about-us .wrapper .right-column .img-wrapper i {
    color: rgb(151, 146, 228);
    font-size: 90px;
    position: absolute;
    top: 0;
    right: 0;
}

#about-us .wrapper .right-column p {
    font-size: 35px;
    color: rgb(151, 146, 228);
    font-weight: 600;
    padding: 2rem 0;
}

#about-us .wrapper .right-column button {
    font-size: 20px;
    padding: 0.75rem 3.5rem;
}

#about-us .wrapper .left-column,
#about-us .wrapper .right-column {
    width: 100%;
}

/* Footer */
footer {
    color: white;
    text-align: center;
}
footer .upper-footer {
    background-color: rgb(151, 146, 228);
    padding: 2rem 0;
}

footer .upper-footer .upper-footer-title p {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 1rem;
}

footer .upper-footer .upper-footer-title h1 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 1rem;
}

footer .upper-footer h2 {
    font-size: 50px;
    color: rgb(253, 193, 95);
    font-weight: 800;
    padding-bottom: 1rem;
}

footer .upper-footer p:first-of-type {
    padding-bottom: 1rem;
}

footer .upper-footer .upper-footer-main button {
    font-size: 20px;
    padding: 1.5rem 4.5rem;
    border-radius: 50px;
    color: rgb(151, 146, 228);
    margin-bottom: 1rem;
}

footer .bottom-footer {
    background-color: rgb(51, 51, 51);
    padding: 2rem 0;
}

footer .bottom-footer p:first-of-type {
    padding-bottom: 3rem;
}

/* Responsive Rules */
@media screen and (min-width: 768px) {
    .container {
        width: 700px;
        margin: 0 auto;
    }

    #hero .card {
        width: calc(100% / 3 - 1rem);
        margin-right: 1rem;
    }

    #hero .main-card {
        width: calc((100% / 3 - 1rem) * 2);
    }

    #hero .card h1 {
        font-size: 25px;
    }

    #testimonials .wrapper .card {
        flex-direction: row;
    }

    #testimonials .wrapper .card .left-column{
        width: 30%;
        align-self: center;
        margin: 0;
        text-align: start;
        padding-left: 1rem;
    }

    #testimonials .wrapper .card .left-column .img-wrapper {
        height: 150px;
        width: 150px;
    }

    #testimonials .wrapper .card .right-column {
        width: 70%;
        text-align: start;
        padding-left: 1rem;
    }

    #benefits .card-wrapper {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #benefits .card-wrapper .card {
        width: calc(100% / 2 - 1rem);
        margin: 0 1rem 1rem 0;
    }

    #about-us .wrapper {
        flex-direction: row;
        justify-content: center;
    }

    #about-us .wrapper .right-column {
        text-align: center;
    }

    #about-us .wrapper .left-column,
    #about-us .wrapper .right-column {
    width: calc(50% - 1rem);
    margin-right: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 900px;
    }

    #testimonials .wrapper .card .left-column {
        width: 20%;
    }

    #testimonials .wrapper .card .right-column {
        width: 80%;
        justify-content: center;
        padding-left: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    header .wrapper .desktop-nav {
        display: block;
    }

    header .wrapper .mobile-nav {
        display: none;
    }

    #hero .main-card {
        flex-direction: row;
    }

    #hero .main-card .left-column {
        text-align: start;
        padding-top: 1rem;
    }

    #hero .main-card .left-column h1 {
        font-size: 20px;
    }

    #hero .main-card .right-column {
        margin: 0 2rem;
    }

    #hero .main-card .left-column,
    #hero .main-card .right-column {
        width: 50%;
    }

    #planning .wrapper {
        flex-direction: row;
        justify-content: center;
    }

    #planning .wrapper .left-column {
        margin-bottom: 0;
    }

    #planning .wrapper .left-column img {
        margin-bottom: 4rem;
    }

    #planning .wrapper .left-column h1 {
        padding: 3rem 0;
    }

    #planning .wrapper .right-column .wrapper {
        height: 70%;
        align-self: flex-end;
    }

    #planning .wrapper .right-column .wrapper img {
        height: 50%;
        width: unset;
    }

    #planning .wrapper .right-column .wrapper p {
        padding: 2rem;
    }

    #planning .wrapper .left-column,
    #planning .wrapper .right-column {
        width: calc(50% - 2rem);
        margin-right: 2rem;
    }

    #testimonials .wrapper .card .left-column .img-wrapper {
        height: 200px;
        width: 200px;
    }

    #benefits .card-wrapper .card {
        width: calc(100% / 3 - 1rem);
    }

    #about-us .wrapper .left-column {
        width: calc(70% - 2rem);
        margin-right: 2rem;
    }
    
    #about-us .wrapper .right-column {
        width: 30%;
        text-align: start;
    }

    #about-us .wrapper .right-column .img-wrapper {
        width: 200px;
        height: 200px;
    }
    #about-us .wrapper .right-column p {
        font-size: 25px;
    }

    #about-us .wrapper .right-column button {
        padding: 1rem 2rem;
        font-size: 15px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}





